# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Uploads (si usas almacenamiento local temporal)
uploads/
